@import "../utils/variables";
@import "../utils/mixins";

.faq {
    @include wrapper;
    padding-top: 140px;
}

.faq__wrapper {
    padding-bottom: 40px;
    border-bottom: 1px solid $grey;
}
.faq__accordion {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 131.1%;
    padding-top: 39px;

    color: $dark;
    display: flex;
    justify-content: space-between;

    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;

    @include laptop {
      font-size: 25px;
      line-height: 120%;
    }

}
.faq__panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    animation: open 1s ease-in-out forwards;
}
.faq__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: $dark;
    padding-top: 25px;
}
.cross {
    transition: all 0.3s;
    transform: rotate(45deg);
}
.active .cross {
    // animation: rotate 1s ease-in-out forwards;
    // transform: rotate(90deg);
    // rotate()
    transform: rotate(0deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.anime {
    animation: close 1s ease-in-out forwards;
  }

@keyframes open {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

@keyframes close {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
} 

// @keyframes rotate {
//     from {
//       transform: ;
//     }

//     to {
//       opacity: 0;
//     }
// } 
.hidden {
    display: none;
}

.faq__bg {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 6050px;
  width: 100%;

  // @include max-desktop {
  //   top: 6150px;
  // }

  @include laptop {
    display: none;
  }
}