name: C/C++ CI

on: [push, pull_request]

jobs:
  build:

    runs-on: macos-latest
    env:
      BASIC_TEST: "cd $DIRECTORY ; ./test.sh"

    steps:
    - uses: actions/checkout@v2
    - name: logger_test
      run: $BASIC_TEST
      env:
        DIRECTORY: ./srcs/logger/
    - name: config_test
      run: $BASIC_TEST
      env:
        DIRECTORY: ./srcs/config/
    - name: server_test
      run: $BASIC_TEST
      env:
        DIRECTORY: ./srcs/server/
    - name: webserv
      run: make
