name: C/C++ CI

on: [push, pull_request]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: logger_test
      run: cd ./srcs/logger/ ; ./test.sh
    - name: config_test
      run cd ./srcs/config/ ; ./test.sh
    - name: server_test
      run: cd ./srcs/server/ ; ./test.sh
    - name: webserv
      run: make
